@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mochiy Pop One', sans-serif;
}

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background: url(img/bck.png) center/cover;
    width: 400px;
    height: 650px;
    overflow: hidden;
}

/* loading */

.load_title {
    position: absolute;
    top: 150px;
    left: 77.5px;
    font-size: 2.2em;
    color: rgb(196, 27, 27);
    transform: rotate(-10deg);
}

.loading {
    position: absolute;
    top: 390px;
    left: 140px;
    width: 120px;
    height: 20px;
    background:
        linear-gradient(#efd7bd 0 0) 0/0% no-repeat #efe7d6;
    animation: p1 2s linear;
}

@keyframes p1 {
    100% {
        background-size: 100%
    }
}

.continue {
    position: absolute;
    top: 350px;
    left: 140px;
    font-size: 1.5em;
    animation: test 1.5s steps(9) infinite;
}

.copy_right {
    position: absolute;
    top: 580px;
    left: 122px;
}


/* menu */

.menu_container {
    width: 400px;
    height: 650px;
}

.doodle_menu {
    position: absolute;
    top: 530px;
    left: 180px;
}

.menu_platform {
    display: flex;
}

.monster {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 80.5px;
    height: 45px;
    animation: flying 0.6s steps(4) infinite;
}

.hole {
    position: absolute;
    height: 55px;
    width: 55px;
    background: url(img/menu_hole.png);
    top: 45px;
    left: 300px;
}

.canvas {
    position: absolute;
    top: 110px;
    left: 150px;
}

.avoid {
    position: absolute;
    top: 140px;
    left: 295px;
    font-size: 1.7em;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    transform: rotate(18deg);
}

.title {
    position: absolute;
    top: 0;
    left: 35px;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.ufo {
    position: absolute;
    width: 83px;
    height: 121px;
    background: url(img/menu_ufo.png);
    left: 170px;
    top: 270px;
}

.play {
    position: absolute;
    top: 400px;
    left: 135px;
    font-size: 1.5em;
    animation: test 1.5s steps(9) infinite;
}

.doodle {
    position: absolute;
    width: 62px;
    height: 60px;
    background: url(img/blue-lik-left.png);
}

.doodle_right {
    position: absolute;
    width: 62px;
    height: 60px;
    background: url(img/blue-lik-right.png);
}

.doodle_odskok {
    position: absolute;
    width: 62px;
    height: 60px;
    background: url(img/blue-lik-left-odskok.png);
}

.green {
    position: absolute;
}

.blue {
    position: absolute;
}

.remove {
    display: none;
}

.restart {
    position: absolute;
    top: 350px;
    left: 144px;
    background-image: url("img/play_again.png");
    border-radius: 44%;
    width: 112px;
    height: 41px;
    z-index: 1;
    border: none;
    cursor: pointer;
}

.score {
    position: absolute;
    color: #6bb915;
    top: 15px;
    left: 5px;
    font-size: 1em;
}

.best_score {
    position: absolute;
    color: #6bb915;
    width: 130px;
    height: 35px;
    top: 300px;
    left: 135px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.btn_left {
    display: none;
}

.btn_right {
    display: none;
}


@keyframes test {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flying {
    from {
        background: url('img/menuMonster.png') 0 0;
    }

    to {
        background: url('img/menuMonster.png') -322px 0;
    }
}

@media all and (max-width:400px) {
    #app {
        display: block;
    }

    .btn_right {
        position: absolute;
        display: block;
        top: 590px;
        left: 335px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background: #efd7bd;
        opacity: 0.7;
    }

    .btn_left {
        position: absolute;
        display: block;
        top: 590px;
        left: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background: #efd7bd;
        opacity: 0.7;
    }

}